
 <h1> All Users </h1>

<div>
 <ol>
 <% @users.each do |user| %>
    <div class="user_box">
       <a href="/users/<%= user.id %>" > show this user links</a>
       <p class="user_p">Reddit Handle: <%= user.username %> </p>
    </div>
     <% end %>
 </ol>
</div>
