
 <h1> All Users </h1>

<div>
 <ol>
 <% @users.each do |user| %>
   <a href="/users/<%= user.id %>" > show this user links</a>
   <p>Reddit Handle: <%= user.username %> </p>

 <% end %>
 </ol>
</div>
