<header>
  <div class="row navbar">
    <div class="twelve columns navbar">
      <a class="navbar-brand" href="/users">USERS</a>
      <a class="navbar-brand" href="/links">Links</a>
    </div>
  </div>
</header>
